@font-face {
  font-family: 'harry';
  src: url('../fonts/harry.TTF');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f7f8
}

.content {
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 5%;
    flex:1;
    margin-top: 150px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;

}

.footer {
/*	position: fixed;
    bottom: 0;*/
    width: 100%;
    background-color: black;trs

}

.white {
	color:white;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}

table {
	width: 100%
}

.lien {
    border: solid;
    border-color: #212121;
    border-width: medium;
    border-radius: 15px;
    padding: 5px;
    background-color: #212121;
    color: white;
}

.lien:hover {
    border: solid;
    border-color: #212121;
    border-width: medium;
    border-radius: 15px;
    padding: 5px;
    background-color: pink;
    color: white;
}

aside {
    float: right;
    width: 20%;
    height: 400px;
    border: solid black 1px;
    border-radius: 15px;
    align-self: flex-end;
    }

 li {
        margin-bottom: 75px;
 }

.nav {
    margin:0 0 0 0;
    background-color:#212121;
    color: white;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.nav-header {
    margin-left:2%;
    font-family: 'harry';
    float: left;
    font-size: 20px;
    text-shadow: pink 2px 2px
}


.nav-right {
    float: right;
    /*font-family:'harry';*/
    font-size: 25px;
    margin-right: 2%;
    margin-top: 30px;
    

}


.nav span:not(:last-child){
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: solid 1px;
    border-radius: 5px;

}


.nav span:not(:last-child) , .nav div a{
    margin-left: 10px;
    margin-right: 10px;
    color: white;


}

a{
    color: black;
    font-weight: bold;
    text-decoration: unset;
}

.media-div {
    display: none;
    position: absolute;
    top : 100%;
    background-color: #212121;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(black, #212121 );


}

.media-items {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border: solid 1px;
    border-radius: 5px;


}

.media:hover .media-div {
    display: block;
    border : solid;
    border-radius: 15px;
}

.media {
    display: inline-block;
    position: relative;

}


.photo img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.photo img:hover {
    width: 75%;
    border: solid black 2px;
    transition-duration: 0.5s;
}